
record(stringin, "$(P)OUTLET$(OUTLET):CONFIG")
{
     field(DESC, "PSU Outlet $(OUTLET) Config")
     field(DTYP, "Snmp")
     field(SCAN, "2 second")
     field(INP, "@$(HOST) public PDU-MIB::pdu01Outlet$(OUTLET)Config.0 STRING: 100 s")
}
